<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-8 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">This is a Book Library Management App made with 🧡 by Sarahaime Rodriguez.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" routerLink="/about" aria-label="About">About</a></li>
        </ul>
    </footer>
</div>